/* CSS declarations go here */
#center {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
    height: 100px;
    width: 50%;
}

#area{
    position: absolute;
    height: 70%;
    width: 2px;
    top: 8%;
    left: 0%;
    margin-top: 0px;
    margin-left: 0px;
    background-color: #0dc90d50;
}
#chart {
    position: absolute;
    top: 35%;
    left: 25%;
    margin-top: -50px;
    margin-left: -50px;
    height: 150px;
    width: 70%;
}

#map {
    position: absolute;
    top: 25%;
    left: 15%;
    margin-top: -50px;
    margin-left: -50px;
    height: 80%;
    width: 80%;
}

#title {
    margin: auto;
    width: 50%;
    border: 3px solid rgba(173, 215, 255, 0.596);
    padding: 10px;
    text-align: center;
    font-size: 200%;
}

body{
    background-color: #a2b8a250;
}

.inline{
    display: inline-block;
}